%ul.nav.nav-pills.event_filter
  = event_filter_link EventFilter.push, 'Пуш события'
  = event_filter_link EventFilter.merged, 'Слияния'
  = event_filter_link EventFilter.comments, 'Комментарии'
  = event_filter_link EventFilter.team, 'Команда'
