.panel.panel-default
  %ul.well-list.issues-list
    = render @issues
    - if @issues.blank?
      %li
        .nothing-here-block Нет вопросов для показа

- if @issues.present?
  .pull-right
    %span.issue_counter #{@issues.total_count}
    вопросов для этого фильтра

  = paginate @issues, theme: "gitlab"
