- page_title "Запросы слияния"
- header_title  "Запросы слияния", merge_requests_dashboard_path(assignee_id: current_user.id)

.top-area
  = render 'shared/issuable/nav', type: :merge_requests
  .nav-controls
    = render 'shared/new_project_item_select', path: 'merge_requests/new', label: "Новый запрос слияния"

= render 'shared/issuable/filter', type: :merge_requests

.prepend-top-default
  = render 'shared/merge_requests'