- page_title "Запросы слияния"
%h3.page-title
  Запросы слияния


%p.light
  Список всех запросов слияния из всех проектов, к которым у вас есть доступ.
%hr
.append-bottom-20
  = render 'shared/issuable/filter', type: :merge_requests
= render 'shared/merge_requests'
