- page_title "Журнал аудита"
- header_title page_title, audit_log_profile_path

.alert.alert-help.prepend-top-default
  История авторизаций

.prepend-top-default
= render 'event_table', events: @events