- if @user.valid?
  :plain
    new Flash("Имя пользователя успешно изменено", "notice")
- else
  :plain
    new Flash("Имя пользователя изменить не удалось - #{@user.errors.full_messages.first}", "alert")
