- is_admin = defined?(admin) ? true : false
.panel.panel-default
  - if @keys.any?
    %table.table
      %thead.panel-heading
        %tr
          %th Наименование
          %th Отпечаток ключа
          %th Добавлен
          %th
      %tbody
        - @keys.each do |key|
          = render 'profiles/keys/key', key: key, is_admin: is_admin
  - else
    .nothing-here-block
      - if is_admin
        Пользователь не имеет SSH ключей
      - else
        Нет SSH ключей для доступа к вашему аккаунту.
