- page_title "Добавление SSH ключей"
%h3.page-title Добавить SSH ключ
%p.light
  Вставьте ваш публичный ключ здесь. Подробнее о том, как создать ключ на #{link_to "странице помощи по SSH", help_page_path("ssh", "README")}.
%hr
= render 'form'

:javascript
  $('#key_key').on('focusout', function(){
    var title = $('#key_title'),
        val      = $('#key_key').val(),
        comment = val.match(/^\S+ \S+ (.+)$/);

    if( comment && comment.length > 1 && title.val() == '' ){
      $('#key_title').val( comment[1] );
    }
  });
