- page_title "Публичные фрагменты"
%h3.page-title
  Публичные фрагменты

  .pull-right
    - if current_user
      = link_to new_snippet_path, class: "btn btn-new btn-grouped", title: "Новый фрагмент" do
        Добавить новый фрагмент
      = link_to user_snippets_path(current_user), class: "btn btn-grouped"  do
        Ваши фрагменты

%p.light
  Здесь будут перечислены созданные вами или другими пользователями публичные фрагменты

%hr
= render 'snippets'

