%h3.page-title
  = image_tag avatar_icon(@user.email), class: "avatar s24"
  = @user.name
  %span
    \/
    Сниппеты
  - if current_user
    = link_to new_snippet_path, class: "btn btn-sm add_new pull-right", title: "Новый сниппет" do
      Добавить новый сниппет

%hr

= render 'snippets'
