%h4
  Календарь проделанной работы
  .pull-right
    %small Вопросы, запросы слияния и пуши
#cal-heatmap.calendar
  :javascript
    new Calendar(
      #{@timestamps.to_json},
      #{@starting_year},
      #{@starting_month},
      '#{user_calendar_activities_path}'
    );
