- page_title "Итерации"
- header_title "Итерации", dashboard_milestones_path

.top-area
  = render 'shared/milestones_filter'

  .nav-controls
    = render 'shared/new_project_item_select', path: 'milestones/new', label: "Новая итерация", include_groups: true

.milestones
  %ul.content-list
    - if @milestones.blank?
      %li
        .nothing-here-block Итерации отсутствуют
    - else
      - @milestones.each do |milestone|
        = render 'milestone', milestone: milestone
  = paginate @milestones, theme: "gitlab"
