- page_title "Избранные проекты"
- header_title "Проекты", dashboard_projects_path

= render 'dashboard/projects_head'

- if @last_push
  = render "events/event_last_push", event: @last_push

- if @projects.any?
  = render 'projects'
- else
  %h3 У вас еще нет избранных проектов
  %p.slead Посетив страницу проекта, нажмите на значок звездочки и он появится на этой странице.
