<p>Здравствуйте, <%= @resource.name %>!</p>

<% if @resource.unconfirmed_email.present? %>
  <p>Вы можете подтвердить вашу электронную почту (<%= @resource.unconfirmed_email %>) по ссылке ниже:</p>
<% else %>
  <p>Вы можете подтвердить ваш аккаунт через ссылку ниже:</p>
<% end %>

<p><%= link_to 'Подтвердить свой аккаунт', confirmation_url(@resource, confirmation_token: @token) %></p>
