- if can? current_user, :admin_label, @project
  = link_to new_namespace_project_label_path(@project.namespace, @project), class: "pull-right btn btn-new" do
    Новая метка
%h3.page-title
  Метки
%hr

.labels
  - if @labels.present?
    %ul.bordered-list.manage-labels-list
      = render @labels
    = paginate @labels, theme: 'gitlab'
  - else
    .light-well
      .nothing-here-block Создайте первую метку или #{link_to 'сгенерируйте', generate_namespace_project_labels_path(@project.namespace, @project), method: :post} метки по умолчанию
